* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.dashboard {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.sidebar {
    background-color: rgb(0, 159, 252);

    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-columns: 1fr;
}

.sidebar .div1 {
    padding: 20px;
    color: white;
}

.sidebar .div2 {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

.sidebar .div2 div {
    padding-left: 20px;

    display: flex;
    align-items: center;
}

.sidebar .div2 div h2 {
    color: white;
}

.sidebar .div3 {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

.sidebar .div3 div {
    padding-left: 20px;

    display: flex;
    align-items: center;
}

.sidebar .div3 div h2 {
    color: white;
    text-align: center;
}

.main {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
}

.top {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.top .div1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.search {
    padding: 20px;
    display: flex;
    align-items: center;
}

input {
    height: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(163, 174, 180);
    border: 1px solid white;
}

.pro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro h2 {
    text-align: center;
}

.top .div2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.profile {
    padding-left: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 290px;
}

button {
    height: 40px;
    width: 90px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: rgb(0, 159, 252);
}

.content {
    background-color: rgb(163, 174, 180);
    padding: 20px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.projects {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.announcements {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

.trending {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.cards {
    height: 790px;
    width: 100%;
    margin-top: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 15px 15px;
}

.card {
    border: 3px solid black;
    border-left: 10px solid rgb(221, 186, 28);
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.anc {
    height: 350px;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

.tren {
    height: 350px;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 10px;
}